services:
  app:
    build:
      context: .
      args:
        BUILD_ENV: development
    volumes:
      - ./auth_baileys:/usr/src/app/auth_baileys
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    command: npm run dev
